<% provide(:title, 'Join') %>

<div class='container vertical-align'>
  <h1>Join</h1>
  
  <%= form_for(@user) do |f| %>
    <%= f.text_field :name, :placeholder => 'name' %>

    <%= f.email_field :email, :placeholder => 'email' %>

    <%= f.password_field :password, :placeholder => 'password' %>

    <%= f.password_field :password_confirmation, :placeholder => 'confirm password' %>

    <%= f.submit "join hungrycats" %>
  <% end %>
</div>
